<div class="geocoding">
    {% if field_type.object.label != false and field_type.config.disable_label != true %}
        <label class="control-label">
            {{ field_type.object.label|raw }}

            {% if field_type.required %}
                <span class="required">*</span>
            {% endif %}

            {% if field_type.locale %}
                {% include "streams::form/partials/translations" %}
            {% endif %}
        </label>
    {% endif %}

    {% if field_type.instructions %}
        <p class="text-muted">{{ field_type.instructions|raw }}</p>
    {% endif %}

    {% if field_type.warning %}
        <p class="help-block">
            <span class="text-warning">
                {{ icon('warning') }}
                {{ field_type.warning|raw }}
            </span>
        </p>
    {% endif %}

    <div class="input-group">
        {{ field_type.input|raw }}
        <a href="#" class="btn btn-primary btn__geocode input-group-addon" data-input="{{ field_type.getInputName() }}" data-geocode-key="{{ setting_value('fryiee.module.ip_redirections::geocoding_api_key') }}">Geocode</a>
    </div>
    <div class="geocoding__results mt-2" data-container-for-geocoding-results-from="{{ field_type.getInputName() }}">
    </div>
</div>
